body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #333;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  pointer-events: none;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  z-index: 100;
}

canvas {
  display: block;
}
